.navbar {
    border-radius: 0px;
}

.scroller {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 96px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.pager {
    border-radius: 0px;
    display: block;
    margin: 0px;
}

.pager li:first-child > a {
    border-right: 2px solid #2c3e50;
}
#today-menu {
    background-color: #3498db;
}

#today-datebar {
    margin-top: 48px;
    color: white;
    text-transform: none;
    background-color: #34495e;
    min-height: 48px;
}

#today-statusbar {
    background-color: #34495e;
}

.goal {
    text-transform: none;
    padding: 10px;
}
.goal-odd {
    background-color: #ffffff;
}
.goal-even {
    background-color: #f2f5f6;
}

.goal-titlebar {

}
.goal-title {
    display: inline-block;
    font-size: 1.5em;
    color: #000000;
    padding-right: 10px;
}
.goal-desc {
    font-size: 1em;
    color: #7f8c8d;
    display: inline-block;
}
.goal-content {

}
