.navbar
{
    border-radius: 0px;
}

#example:before {
    float: left;
    content: "<";
}

#example:after {
    float: right;
    content: ">";
}

.scroller {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 77px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}