<div id="add-menu" class="navbar navbar-fixed-top">
    <div class="navbar-header">
        <!--<img src="images/logo.png" style="height: 44px; padding-top: 2px; padding-left: 4px;" />-->
        <ul class="nav pull-right">
            <li><img src="images/Cancel.png" style="width:32px;" />Discard</li>
            <li><img src="images/check.png" style="width:32px;" />Done</li>
        </ul>
    </div>
</div>