<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <img src="images/Logo1440.png" style="height: 32px;" />
        <ul class="nav pull-right">
            <li><img id="nav-add" src="images/icons/png/Book.png" style="width:32px; cursor: hand;" /></li>
            <li><img src="images/icons/png/compas.png" style="width:32px;" /></li>
        </ul>
    </div>
</div>
<div class="navbar navbar-fixed-top" style="margin-top: 50px;">
    <div style="display:-webkit-flex;-webkit-flex-direction: row; width: 100%; background-color: #1ABC9C;">
        <div style="display: inline;-webkit-flex:1;text-align: left;"><</div>
        <div style="display: inline;-webkit-flex:20; text-align: center;">Middle</div>
        <div style="display: inline;-webkit-flex:1; text-align: right;">></div>
    </div>
</div>

<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-header">

    </div>
</div>

<div class="scroller">
    <div id="today-goals"></div>
</div>

