<div class="splash-page">
    <img src="images/splash-portrait.png" class="splash-image">
</div>
<div id="today-menu" class="navbar navbar-fixed-top">
    <div class="navbar-header">
        <img src="images/logo.png" style="height: 44px; padding-top: 2px; padding-left: 4px;" />
        <ul class="nav pull-right">
            <li><img id="nav-add" src="images/add.png" style="width:44px; padding-top: 2px; cursor: hand;" /></li>
            <!--<li><img src="images/icons/png/compas.png" style="width:32px;" /></li>-->
        </ul>
    </div>
</div>
<div id="today-datebar" class="navbar navbar-fixed-top" >
    <ul class="pager">
        <li class="previous">
            <a href="">
                <i class="fui-arrow-left"></i>
            </a>
        </li>
        <li class="text-center">
            <div style="display: inline-block; padding-top: 6px;">Today Jan 15th 2014</div>
        </li>
        <li class="next">
            <a href="">
                <i class="fui-arrow-right"></i>
            </a>
        </li>
    </ul>
</div>



<div class="scroller">
    <div id="goals-view"></div>
</div>


<div id="today-statusbar" class="navbar navbar-fixed-bottom">
    <div class="navbar-header">

    </div>
</div>

