<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <img src="images/Logo1440.png" style="height: 32px;" />
        <ul class="nav pull-right">
            <li><img src="images/icons/png/Book.png" style="width:32px;" /></li>
            <li><img src="images/icons/png/compas.png" style="width:32px;" /></li>
        </ul>
    </div>
</div>
<div class="navbar navbar-fixed-top" style="margin-top: 50px;">
    <div style="display:-webkit-flex;-webkit-flex-direction: row; width: 100%; background-color: #1ABC9C;">
        <div style="display: inline;-webkit-flex:1;text-align: left;"><</div>
        <div style="display: inline;-webkit-flex:20; text-align: center;">Middle</div>
        <div style="display: inline;-webkit-flex:1; text-align: right;">></div>
    </div>
</div>
        <!--
<div class="navbar navbar-fixed-top" style="margin-top: 50px;">
    <div class="navbar-header">
        <button class="btn btn-hg pull-left" style="background-color: #16A085;border-radius: 0;">
            <
        </button>
        <button class="btn btn-hg btn-primary" style="text-align:center;background-color: #1ABC9C;border-radius: 0;">
            Today, Jan 7th
        </button>
        <button class="btn btn-hg pull-right" style="background-color: #16A085;border-radius: 0;">
            >
        </button>
    </div>
</div>-->
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-header">

    </div>
</div>

<div style="padding-top: 70px;">
    <div style="padding-bottom: 100px">{{title}}</div>
    <div style="padding-bottom: 100px">{{title}}</div>
    <div style="padding-bottom: 100px">{{title}}</div>
    <div style="padding-bottom: 100px">Test3</div>
    <div style="padding-bottom: 100px">Test4</div>
    <div style="padding-bottom: 100px">Test5</div>
    <div style="padding-bottom: 100px">Test6</div>
    <div style="padding-bottom: 100px">Test7</div>
    <div style="padding-bottom: 100px">Test8</div>
    <div style="padding-bottom: 100px">Test9</div>
    <div style="padding-bottom: 100px">Test10</div>
</div>

