<div class="goal goal-even">
    <div class="goal-titlebar">
        <div class="goal-title">Running</div>
        <div class="goal-desc">running 2.3 mph</div>
    </div>
    <div class="goal-content">
        Content
    </div>
</div>