<div class="goal goal-odd">
    <div class="goal-titlebar">
        <div class="goal-title">Jogging</div>
        <div class="goal-desc">jogging on treadmill</div>
    </div>
    <div class="goal-content">

        <ul class="goal-selector">
            {{#each items}}
                <li class="goal-selector-item">
                    <div class="goal-selector-block">
                        <div class="goal-selector-block-img"><img class="goal-selector-img" src="images/icons/png/Book.png" /></div>
                        <div class="goal-selector-block-label">{{label}}</div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>

</div>